# See https://github.com/lervag/vimtex/issues/3154
export VIMTEX_COMPILER_METHOD="latexmk"
# https://tex.stackexchange.com/a/525972/18816
export max_print_line=1000
export error_line=254
export half_error_line=238
use flake
